body{
	background-color: lightgray;
}

#number-one{
	color: red;
}
#number-two{
	background: black;
	color: darkred;
}

.first-class{
	background: darkorange;
	color: black;
	font-size: 30px;
}

.second-class{
	font-style: times;
}